*.exe
*.o
*.a
agbcc
old_agbcc
*.lo

gcc/genattr
gcc/genattrtab
gcc/gencheck
gcc/gencodes
gcc/genconfig
gcc/genemit
gcc/genextract
gcc/genflags
gcc/gengenrtl
gcc/genopinit
gcc/genoutput
gcc/genpeep
gcc/genrecog

*.status
*.log
*.cache
binutils/objcopy
binutils/objdump
binutils/ar
binutils/ranlib
gas/as-new
ld/ld-new
ld/ldscripts/*

bfd/Makefile
bfd/bfd.h
bfd/ofiles
bfd/stamp-ofiles
binutils/Makefile
binutils/sysinfo
binutils/sysroff.h
gas/Makefile
gas/config/.dirstamp
include/config.h
include/stamp-h1
ld/Makefile
ld/earmelf.c
ld/ldemul-list.h
ld/stringify.sed
ld/tmpdir/
libiberty/Makefile
libiberty/required-list
libiberty/stamp-h
libiberty/xhost-mkfrag
